@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .header {
    @apply h-96 flex items-end md:items-start xl:items-end md:pt-20 relative pb-10 md:pb-0;
    background-image: url(../../public/assets/images/gk4cplcv63v61.png);
    background-size: cover;
    background-position-y: 50%;
  }
  .header_wraper {
    @apply mb-5 w-fit md:text-5xl text-3xl mx-auto;
  }
  .header_wraper h1 {
    @apply text-white text-sm md:text-2xl lg:text-3xl mb-16;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  .header_img {
    @apply active:scale-95 w-[100px] md:w-[200px] rounded-full absolute left-[calc(50%-50px)] -bottom-16 md:left-16 hover:scale-110 transition;
  }
  .header_img-icon {
    @apply left-2/4 md:left-[180px] -bottom-[80px] md:-bottom-[90px];
  }
  .header_img-icon svg {
    @apply h-[60px] w-[60px] md:w-[100px] md:h-[100px];
  }
  .top_section {
    @apply h-fit p-10 lg:h-[410px] bg-cyan-500 dark:bg-cyan-950 grid grid-cols-1 lg:grid-cols-3;
  }
  .top_section div {
    @apply flex flex-col justify-center items-center p-6 md:p-0;
  }
  .top_section div svg {
    @apply hover:scale-110 active:scale-95;
  }
  .top_section p {
    @apply text-white text-3xl text-center;
  }
  .component {
    max-width: 500px;
    padding-bottom: 100px;
    width: 100%;
  }
  .cardContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
    margin-bottom: -120px;
  }
  .splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    clip-path: path(
      "M 0 303.5 C 0 292.454 8.995 285.101 20 283.5 L 460 219.5 C 470.085 218.033 480 228.454 480 239.5 L 500 430 C 500 441.046 491.046 450 480 450 L 20 450 C 8.954 450 0 441.046 0 430 Z"
    );
  }
  .card {
    font-size: 64px;
    width: 300px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #ffffff;
    transform: translateY(50px) rotate(-10deg);
  }
  .message_modal {
    @apply fixed bottom-20 right-16 w-4/5 h-5/6 md:w-4/6 md:h-3/6 xl:w-2/6 xl:h-4/6  shadow-md shadow-gray-500 z-[49] rounded-lg
    grid;
    background: url(../../public/assets/icons/wp14199734.jpg);
    background-size: contain;
  }
  .admin_message {
    @apply !bg-slate-50 shadow-slate-500
    shadow-md !w-[100%] p-5 rounded-md h-fit mx-auto my-5;
  }
  .user_message {
    @apply bg-gray-300 shadow-slate-500
    shadow-md !w-[60%] p-5 rounded-md h-fit ml-auto my-5 mr-2 text-wrap;
    &span {
      width: 100%;
      display: block;
      overflow-wrap: break-word;
      overflow: scroll;
    }
  }
  .otheruser_message {
    @apply bg-green-300 shadow-slate-500
    shadow-md !w-[60%] p-5 rounded-md h-fit ml-2 my-5 col-start-1;
  }
  .side_span {
    display: none;
  }
  aside:hover .side_span {
    display: inline;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
  @media screen and (max-width: 700px) {
    .header {
      background-position-x: 50%;
    }
  }
}
#blob2 {
  visibility: hidden;
}
